#register {

    border: 1px solid #FAA935;
    border-radius: 20px;
    padding-left: 20px;
    margin-left: 10px;
    width: 100px;
    background-color: #FAA935;
}

.navmenu {

    margin-left: 290px;
    font-weight:600;
}

#logout {

    border: 1px solid #FAA935;
    border-radius: 20px;
    padding-left: 20px;
    margin-left: 10px;
    width: 100px;
    height: 40px;
    background-color: #FAA935;

}

#username {

    border: 1px solid #FAA935;
    margin: 8px;
    border-radius: 5px;
    width: 80px;
    padding: 2px;
    background-color: #FAA935;

}