
.tesimonials {

    border: 1px solid #FAA935;
    width: 130px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    margin-top: 130px;
    background-color: #FAA935;
    color:antiquewhite;
}