
.review-input {
    width: 90%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }

   .review-button{
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #ffa726;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

  .review-button:hover {
    background-color: #fb8c00; /* Darker orange on hover */
  }

